{% load static %}
<!DOCTYPE html>
<html lang="es-ve">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!--titulo de cabeza de la web (lo define la plantilla hija)-->
    {% block head %}
    <title>{% block title %}{%endblock%}</title>  
    {% endblock %}
</head>


<body>
    <header class="cabecera">
        <div class="cont_info1">
            <img src="../static/img/idenna_logo2.png" alt="logo idenna" class="logo_idena">
            <h1 class="titulo">Panel de Alimentos</h1>
        </div>


        <nav class="navegacion_links">
            <a href="{% url 'panel_principal' %}?page={{ request.GET.page }}&filtro_desc_juguete={{ request.GET.filtro_desc_juguete|urlencode }}&filtro_almacen={{ request.GET.filtro_almacen|urlencode }}" class="link">Home</a>

            <a href="{% url 'registrar_alimento' %}?page={{ request.GET.page }}&filtro_desc_juguete={{ request.GET.filtro_desc_juguete|urlencode }}&filtro_almacen={{ request.GET.filtro_almacen|urlencode }}" class="link">
                Registrar alimento
            </a>

            <a href="{% url 'generar_excel' %}?filtro_desc_juguete={{ filtro_desc_juguete|urlencode }}&filtro_almacen={{ filtro_almacen_id|urlencode }}" class="link">
            Generar Excel
            </a>

        </nav>

    </header>

    <!--Aqui se mostrara el contenido del cuerpo de las plantillas hijas-->
    {% block body %}

        
    {% endblock %}
</body>
</html>