{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registro_edicion.css' %}">
    <title>{% block title %}Editar Alimento{% endblock %}</title>
{% endblock %}

{% block body %}
<main>

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}

        {% if alimento_obj.imagen_alimento %}
            <img src="{{ alimento_obj.imagen_alimento.url }}" alt="Imagen alimento" class="imagen_juguete">
        {% else %}
            <p class="text_sin_imagen">Sin imagen</p>    
        {% endif %}

        <h1 class="titulo2">Editar alimento</h1>
        <input type="hidden" value="{{ alimento_obj.desc_alimento|default_if_none:'' }}" name="desc_alimento_vieja">

        <div class="contenedor_campo_img">
            <label for="imagen_alimento" class="custom-file-upload">Nueva imagen</label>
            <input type="file" id="imagen_alimento" name="imagen_alimento" accept="image/*" class="boton_imagen" style="overflow:hidden;">

            <span id="nombre_imagen">Ninguna imagen seleccionada</span>

            <script>
                const inputImagen = document.getElementById('imagen_alimento');
                const spanNombre = document.getElementById('nombre_imagen');

                inputImagen.addEventListener('change', function() {
                    if (this.files && this.files.length > 0) {
                        spanNombre.textContent = this.files[0].name;
                    } else {
                        spanNombre.textContent = 'Ninguna imagen seleccionada';
                    }
                });
            </script>
        </div>

        <div class="contenedor_campo">
            <label for="desc_alimento">Descripción:</label>
            <input type="text" id="desc_alimento" name="desc_alimento" maxlength="400" minlength="3" required value="{{ alimento_obj.desc_alimento|default_if_none:'' }}" class="campo">
        </div>       

        <div class="contenedor_campo">
            <label for="cantidad">
                Cantidad 
                {% if alimento_obj.medida_alimento %}
                    ({{ alimento_obj.medida_alimento.desc_medida }})
                {% endif %}:
            </label>
            <input type="number" step="0.01" id="cantidad" name="cantidad" min="0" required value="{{ alimento_obj.cantidad|default_if_none:'0' }}" class="campo" max="50000">
        </div>      

        <div class="contenedor_campo">
            <label for="almacen_perteneciente">Almacen:</label>
            <select id="almacen_perteneciente" name="almacen_perteneciente" class="campo">
                {% for almacen in almacenes_activos %}
                    <option value="{{ almacen.id_almacen }}" 
                        {% if alimento_obj.almacen_perteneciente and almacen.id_almacen == alimento_obj.almacen_perteneciente.id_almacen %}
                            selected
                        {% endif %}
                    >{{ almacen.desc_almacen }}</option>
                {% endfor %}
            </select>
        </div>    

        <div class="caja_botones">
            <button type="submit" class="boton_crear">Guardar cambios</button>
            <a href="{% url 'panel_principal' %}?page={{ request.GET.page }}&filtro_desc_alimento={{ request.GET.filtro_desc_alimento|urlencode }}&filtro_almacen={{ request.GET.filtro_almacen|urlencode }}" class="boton_volver">Volver</a>
        </div>

    </form>
</main>
{% endblock %}
