{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/panel_principal.css' %}">
    <title>{% block title %}Panel principal{% endblock %}</title>
{% endblock %}

{% block body %}
<main class="noshow">

    <div class="cont_form_filtros">
        <form method="get" action="" class="formulario_filtros">
            <input type="text" name="filtro_desc_alimento" placeholder="Buscar alimento..." value="{{ filtro_desc_alimento }}" class="campo">
        
            <select name="filtro_almacen" class="campo">
                <option value="">Todos los almacenes</option>
                {% for almacen in almacenes_activos %}
                    <option value="{{ almacen.id_almacen }}" {% if filtro_almacen_id|stringformat:'s' == almacen.id_almacen|stringformat:'s' %}selected{% endif %}>
                        {{ almacen.desc_almacen }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit" class="boton_filtro">Filtrar</button>
        </form>
    </div>


    
    <div style="display:flex; align-items:center; justify-content:center; gap:10px; flex-wrap: nowrap;">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&filtro_desc_alimento={{ filtro_desc_alimento }}&filtro_almacen={{ filtro_almacen_id }}" 
                class="btn_paginacion">&lt;</a>
        {% else %}
            <span class="btn_paginacion_disabled">&lt;</span>
        {% endif %}

        <div class="panel">
            {% for alimento in page_obj %}
            <div class="alimento" style="border:1px solid #ccc; padding:10px; width:300px; box-sizing:border-box;">
                <div class="cont_imagen_alimento" style="text-align:center; margin-bottom:10px;">
                    {% if not alimento.imagen_alimento %}
                        <p class="texto_sin_img">Sin imagen</p>
                    {% else %}
                        {% if not alimento.imagen_existe %}
                            <p class="texto_img_perdida">Imagen perdida</p>
                        {% else %}
                            <img src="{{ alimento.imagen_alimento.url }}" alt="imagen alimento" class="imagen_alimento"/>
                        {% endif %}
                    {% endif %}
                </div>


                <div class="info_alimento">
                    <p class="desc_alimento"><span class="span_desc_alimento">Alimento:</span> {{ alimento.desc_alimento }}</p>
                    <p class="desc_alimento">
                        <span class="span_desc_alimento">Almacén:</span>
                        {% if alimento.almacen_perteneciente %}
                            {{ alimento.almacen_perteneciente.desc_almacen }}
                        {% else %}
                            Sin almacén
                        {% endif %}
                    </p>
                    <p class="desc_alimento">
                        <span class="span_desc_alimento">Cantidad (gramos):</span> {{ alimento.cantidad }}</p> 

                    <div class="caja_acciones" style="display:flex; gap:10px;">
                        <button type="button" class="btn_sumar" 
                            data-id="{{ alimento.id_alimento }}" 
                            data-desc="{{ alimento.desc_alimento }}" 
                            data-cantidad="{{ alimento.cantidad }}">+</button>

                        <button type="button" class="btn_restar" 
                            data-id="{{ alimento.id_alimento }}" 
                            data-desc="{{ alimento.desc_alimento }}" 
                            data-cantidad="{{ alimento.cantidad }}">-</button>

                        <a href="{% url 'edicion_alimento' alimento.id_alimento %}?page={{ request.GET.page }}&filtro_desc_alimento={{ request.GET.filtro_desc_alimento|urlencode }}&filtro_almacen={{ request.GET.filtro_almacen|urlencode }}" class="btn_editar">
                            Editar
                        </a>

                        <button type="button" class="btn_borrar"
                            data-id="{{ alimento.id_alimento }}"
                            data-desc="{{ alimento.desc_alimento }}">
                            Borrar
                        </button>
                    </div>
                </div>
            </div>
            {% empty %}
                <p class="texto_sin_alimentos">No hay alimentos que mostrar.</p>
            {% endfor %}
        </div>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&filtro_desc_alimento={{ filtro_desc_alimento }}&filtro_almacen={{ filtro_almacen_id }}" 
            class="btn_paginacion">&gt;</a>
        {% else %}
            <span class="btn_paginacion_disabled">&gt;</span>
        {% endif %}
    </div>

    <div id="overlay_suma" class="form_overlay" style="display:none;">
        <div class="form_popup">
            <form id="form_suma" method="post" action="">
                {% csrf_token %}
                <p id="texto_suma"></p>

                <label for="cantidad_actual_suma">Cantidad actual (gramos): </label><br>
                <p id="cantidad_actual_suma" class="text_cantidad"></p>
                
                <input type="number" step="0.01" name="suma" id="input_suma" max="50000" min="0.01" required placeholder="Cantidad a sumar (gramos)" class="campo_form_emergente1">
                <div>
                    <button type="submit" class="btn_form_emergente1">Guardar</button>
                    <button type="button" onclick="cerrarOverlay('overlay_suma')" class="btn_form_emergente2">Volver</button>
                </div>
            </form>
        </div>
    </div>

    <div id="overlay_resta" class="form_overlay">
        <div class="form_popup">
            <form id="form_resta" method="post" action="">
                {% csrf_token %}
                <p id="texto_resta"></p>

                <label for="cantidad_actual_resta">Cantidad actual (gramos):</label><br>
                <p id="cantidad_actual_resta" class="text_cantidad"></p>

                <input type="number" step="0.01" name="resta" id="input_resta" max="" min="0.01" required placeholder="Cantidad a restar (gramos)" class="campo_form_emergente1">
                
                <div>
                    <button type="submit" class="btn_form_emergente1">Guardar</button>
                    <button type="button" onclick="cerrarOverlay('overlay_resta')" class="btn_form_emergente2">Volver</button>
                </div>
            </form>
        </div>
    </div>

    <div id="overlay_borrar" class="form_overlay" style="display:none;">
        <div class="form_popup">
            <form id="form_borrar" method="post" action="">
                {% csrf_token %}
                <p id="texto_borrar"></p>
                <div>
                    <button type="submit" class="btn_form_emergente1">Sí, borrar</button>
                    <button type="button" onclick="cerrarOverlay('overlay_borrar')" class="btn_form_emergente2">No, cancelar</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script src="../static/js/emergentes.js"></script>
{% endblock %}
