

@import 'base.css';



.carta_error{
    background-color: rgba(232, 240, 248, 0.952);
    border: 2px solid rgb(252, 127, 137);
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin: 20px auto 15px auto;
    padding-bottom: 20px;

    /*Especialmente para centrar el texto*/
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 0px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 70px rgb(145, 158, 168);
}


.titulo_error{
    color: rgb(212, 16, 75);
    margin: 0px;
}

.imagen_error{
    width: 30%;
    height: 30%;
}

.texto_informativo{
    margin-top: 0px;
    margin-bottom: 0px;
}


.btn_regreso{
    padding: 4px 10px;
    background-color: rgb(255, 124, 36);
    border: 2px solid rgb(255, 175, 109);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.btn_regreso:hover{
    background-color: rgb(252, 145, 58);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 20px 0px rgb(255, 180, 95);
}
