

.imagen_juguete{
    width: 100%;
    max-width:100%; 
    max-height:300px;
    height: 300px;
    border-radius: 20px;
}

.titulo{
    margin: 4px;
    color: #0c3634;
}

.text_sin_imagen{
    color:rgb(105, 129, 129);
    margin: 0px;
}

.form{
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(134, 223, 203);
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor_campo_img{
    padding: 5px;
    width: 95%;
    text-align: left;
    border-radius: 10px;
    border: 1.5px solid rgb(170, 179, 182);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.contenedor_campo{
    padding: 10px;
    width: 95%;
    text-align: left;
    border-radius: 10px;
    border: 1.5px solid rgb(170, 179, 182);
    display: flex;
    flex-direction: column;
}

.campo{
    border: 2px solid rgb(134, 223, 203);
    padding: 5px;
    border-radius: 10px;
}
.campo:focus{
    background-color: rgb(206, 236, 230);
    outline: none;
    color:rgb(25, 139, 120) ;
    transition-duration: 0.6s;
}

.imagen_juguete{
    background-color: rgb(222, 255, 241);
    border: 2px solid rgb(134, 223, 203);
    padding: 4px;
}

.boton_imagen{
    background-color: red;
    cursor: pointer;
    overflow: hidden;
}




/* Estilo para el botón personalizado */
input[type="file"] {
    display: none;
}
.custom-file-upload{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #2ab99a;
    border: 2px solid #298d88;
    
    color: white;
    border-radius: 10px;
    font-size: 14px;
}
.custom-file-upload:hover{
    background-color: #46e4a7;
    border: 2px solid #36f3d4;
    transition-duration: 0.4s;
}

.caja_botones{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.boton_crear{
    background-color: rgb(90, 241, 30);
    color: rgb(238, 255, 241);
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(70, 209, 70);
    cursor: pointer;
}
.boton_crear:hover{
    background-color: rgb(64, 190, 14);
    border: 2px solid rgb(26, 223, 26);
    transition-duration: 0.4s;
}
.boton_volver{
    background-color: rgb(241, 30, 93);
    color: rgb(238, 255, 241);
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(209, 70, 105);
    cursor: pointer;
}
.boton_volver:hover{
    background-color: rgb(212, 8, 104);
    border: 2px solid rgb(192, 23, 66);
    transition-duration: 0.4s;
}

